#!/usr/bin/env sh

#xrandr --output HDMI-1 --same-as LVDS-1

eval "$(dbus-launch --sh-syntax --exit-with-session)"

# fcitx
export XMODIFIERS="@im=fcitx"
export GTK_IM_MODULE="fcitx"
export QT_IM_MODULE="fcitx"
fcitx5 -d

# ibus
#export XMODIFIERS="@im=ibus"
#export GTK_IM_MODULE="ibus"
#export QT_IM_MODULE="ibus"
#ibus-daemon -drx

# xcompmgr &
# nm-applet &

#fcitx -d & > /dev/null
#sogou-qimpanel & > /dev/null

# eval $(gnome-keyring-daemon --components=pkcs11,secrets,ssh,gpg)
# export GNOME_KEYRING_PID
# export GNOME_KEYRING_SOCKET
# export SSH_AUTH_SOCK
# export GPG_AGENT_INFO

# /usr/libexec/polkit-gnome-authentication-agent-1 &
# stardict -h & > /dev/null &2 > /dev/null
# sudo sslocal -d start -p 443 -s zedhugh.me -k BlsEYioG1w > /dev/null

#cd /home/zedhugh/tcpspeed_client
#sudo java -jar tcpspeed_client.jar -b &
#cd
#sudo service shadowsocks.client start
# emacs --daemon

export PATH="~/.local/bin${PATH:+:}$PATH"
# pnpm
export PNPM_HOME="/home/zedhugh/.local/share/pnpm"
export PATH="$PNPM_HOME:$PATH"
# pnpm end
