{
    "server": "0.0.0.0",
    "mode": "{{ vault_ss_mode }}",
    "server_port": {{ vault_ss_server_port }},
    "local_port": {{ vault_ss_local_port }},
    "password": "{{ vault_ss_password }}",
    "timeout": 60,
    "method": "{{ vault_ss_method }}"
}
