{
  "log": {
    "loglevel": "warning",
    "access": "/var/log/xray/access.log",
    "error": "/var/log/xray/error.log"
  },
  "inbounds": [
    {
      "listen": "0.0.0.0",
      "port": {{ vault_xray_port }},
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "{{ vault_xray_uuid }}",
            "flow": "xtls-rprx-vision"
          }
        ],
        "decryption": "none",
        "udp": true
      },
      "streamSettings": {
        "network": "tcp",
        "security": "reality",
        "realitySettings": {
          "dest": "dl.google.com:443",
          "serverNames": ["dl.google.com"],
          "privateKey": "{{ vault_xray_private_key }}",
          "shortIds": ["{{ vault_xray_short_id }}"]
        }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": ["http", "tls", "quic"]
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "tag": "direct"
    }
  ]
}
